html { /*full page background styles*/
	background-color: #4500a0;
	margin: 0;
    padding: 0;
	height: 100%;
	width: 100%
}
/*title styles*/
header{
	margin: 10;
	padding: 0;
	padding-left: 20px;
	color: #00d61c;
}

/*text styling*/
h1{
	margin:15;
	font-size:26px;
}

h2{
	margin:-5;
	//padding:0;
	font-size:20px;
}

body h1{
	margin-left:-15px;
	padding-left:0;
	padding-left:10px;
	font-size:26px;
}

body p{
	font-size:16px;
	font-weight: normal;
	padding:5px;
}

/*links*/
a {
	color: #7fffc3;
	text-decoration: none;
}

a:visited {
    color: #e5cf7e;
}

a:hover {
    
}

a:active {
	color: purple;
}

/*navigation menu styles*/
nav{
	margin: 0;
	padding: 0;
	line-height: 3em;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	background-color: #0e0187;
}
nav ul{
	list-style-type: none;
	display: inline
}

nav li{
	display: inline;
	margin-left: 10px;
	padding:16px;
	background-color: #0337c6;
	border: 1px solid black;
}

nav li:hover {
	background-color: #2a62fc
}

nav a {
	color: white;
	text-decoration: none;
}

nav a:visited {
    color: #e5cf7e;
}

nav a:hover {
    
}

nav a:active {
	color: purple;
}

/*image styles(at the side and in line with text respectivly*/
img {
    border-radius: 20%;
	margin: 20px;
	float: right;
}

p img {
	border-radius: 15%;
	margin: 0px;
	float: none;
}

aside img {
	border-radius:0px;
	margin: 0px;
	margin-top: 10px;
	margin-bottom: 5px;
	float: none;
}

/*Page structure*/
#container {
	width:100%;
	height: 100%;
}

#post {
	border: 1px solid black;
	margin-top: 10px;
}

body{
	position: relative;
	font-family: arial;
	height: 91.5%;
	color: white; 
	font-size: 16px;
	margin: 0;
	width: 100%
}

section{
	position: relative;
	padding-left: 35px;
	font-size: 16px;
	width: 80%;
	float: left;
	margin: 0px;
}

article {
	width: 100%;
}

aside {
	text-align: center;
	position: relative;
	float:left;
	padding-left: 20px;
	border-left: 2px solid black;
	height: auto;
	margin: 0px;
}

footer{
	position: relative;
	text-align: center;
	width: 100%;
	margin: 0;
	margin-top: 10px; 
	float: left;
	background-color: #0e0187;
	width: 100%;
	padding: 10px;
	margin:0;
	height: auto%;
	box-sizing: border-box;
}	

/*lists and tables styles*/
ul{
	margin:0;
	padding:0;
}

table {
    margin-left: auto;
    margin-right: auto;
}

td {
	text-align: center;
	float: clear;
}

aside td {
	border:3px solid black;
}

/*Media quarys*/
@media (max-width: 1000px) {
	
	nav li {
		width: 150px;
		margin-top: 5px;
		margin-bottom; 5px;
		display: inline-block; 
	}
	
}	

@media (max-width: 640px) {
	/*makes images below text not inline*/
	img {
		float: none;
	}
}

@media (max-width: 550px) {
	/*makes navigation menu have several rows*/
	nav li{
		width: 150px;
		margin-top: 5px;
		margin-bottom; 5px;
		display: inline-block; 
	}
}

@media (max-width: 404px) {
	/*makes the navigation menu verticl*/
	nav{
		background-color: #0337c6; 
	}
	
	nav li{
		margin-top: 0px;
		margin-bottom; 0px;
		border: none;
		display: block; 
	}
}
