<!doctype html>
<html>
  <head>
    	<meta charset="utf-8">
    	<title>{{ page.title }}</title>
    	<link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
	<script>
  		(function() {
    			var cx = '005848571934092280375:4azmdas4-1c';
    			var gcse = document.createElement('script');
   			gcse.type = 'text/javascript';
    			gcse.async = true;
    			gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    			var s = document.getElementsByTagName('script')[0];
    			s.parentNode.insertBefore(gcse, s);
  		})();
	</script>
  </head>
  <body>
    <header>
			<h1>{{ site.title }}</h1> <gcse:search style:"float right; width: 100px;"></gcse:search>
    </header>
    {% include navigation.html %}
    <section>
    	{{ content }}
    </section>
    {% include footer.html %}
  </body>
</html>
