<!doctype html>
<html>
  <head>
    	<meta charset="utf-8">
    	<title>{{ page.title }}</title>
    	<link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
	<script>
  		(function() {
    			var cx = '005848571934092280375:4azmdas4-1c';
    			var gcse = document.createElement('script');
   			gcse.type = 'text/javascript';
    			gcse.async = true;
    			gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    			var s = document.getElementsByTagName('script')[0];
    			s.parentNode.insertBefore(gcse, s);
  		})();
	</script>
  </head>
  <body>
    <header>
            <br>
            <br>
            <div id="button" style="width:250px; margin:auto; background-color: black; opacity: 0.8;">
                <h1>{{ site.title }}</h1>
			</div>
			 <div id="search" style="position: absolute; top:90px; right:0;"> <gcse:search style=" width: 100px; position: absolute; top: 0;"></gcse:search></div>
    </header>
    {% include navigation.html %}
    <section>
    	{{ content }}
	{% include footer.html %}
    </section>
  </body>
</html>
